<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

  <br>


  <div style="text-align:center">
    <h1 class="w3-jumbo">
      <b>Report</b>
    </h1>
  </div>

  <div class="ui container">

    <div class="w3-container w3-padding-32" id="share" style="text-align:center">
      <h1 class="w3-border-bottom w3-border-dark-black w3-padding-16"></h1>


        <div style="text-align:center">
          <button [routerLink]="['/new']" class="ui basic button" *ngIf="auth.isAdmin() || auth.isManage()">
            <i class="add icon" aria-hidden="true"></i>
            Add Report
          </button>
        </div>



    </div>



    <div class="ui grid">
      <app-report *ngFor="let report of reports" [report]="report"></app-report>
    </div>

  </div>