<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/assets/js/bootstrap.min.js">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
</head>

<body>
	<div class="row vertical-center-row">
		<div class="col-md-12 col-xs-12" id="imageView">
			<div id="tagline"><b>Home away from home.</b></div>
			<div id="button"><a routerLink="/info">Find out more!</a></div>
		</div>
	</div>

  <br>
  
	<div class="enquiry" style="text-align: center">

	<form>
	How do we address you?<br>
	<input type="text" name="firstname"><br>
  </form>
  <br>
	<form>
	How can we contact you?<br>
	<input type="email" name="email"><br>
  </form>
  <br>
	<form>
	Number of guests<br>
	<input type="text" name="guests"><br>
  </form>
  <br>
	<form>
	Check-in date<br>
	<input type="datetime-local" name="checkin">
  </form>
  <br>
	<form>
	Check-out date<br>
  <input type="datetime-local" name="checkout">



  </form>
  
  <br>
  <button type="submit" class="ui submit large grey button center floated">Submit</button>

	</div>
 

</body>
</html>