<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
<br>

    <div class="ui container">

        <div class="image">
            <img [src]="staff?.photoUrl">
        </div>

        <h3><b>Staff Name:</b> {{staff.name}}</h3>

        <br>

        <h3><b>Duty:</b> {{staff.duty}}</h3>

        <br>
        
        <h3><b>Date of Birth:</b> {{staff.dob}}</h3>

        <br>
        
        <h3><b>Bank Number:</b> {{staff.bank}}</h3>
        
        <br>
        
        <h3><b>Address:</b> {{staff.address}}</h3>    

        <br>
        
        <h3><b>Phone:</b> {{staff.phone}}</h3>          
    </div>